/*

Hi developers, let's connect!

Project Food Trucks
Ronal Infante
http://ronalinfante.com/
https://www.linkedin.com/in/ronalinfante

*/

/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Maintenance
 * 3.0 - Mobile
 *   3.1 - Header
 *   3.2 - Footer
 *   3.3 - Pages
 *   3.4 - Plugins
 * 4.0 - Tablet
 *   4.1 - Header
 *   4.2 - Footer
 *   4.3 - Pages
 * 5.0 - Desktop
 *   5.1 - Header
 *   5.2 - Footer
 *   5.3 - Pages
 * 
 */

/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been adapted from the fine
 * work of Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal
 * http://necolas.github.com/normalize.css/ and Blueprint
 * http://www.blueprintcss.org/
 *
 */
 

html, body, div, span, object, iframe, header, footer, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, section, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font-family: inherit;
	font-style:  inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

html {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body,
button,
input,
select,
textarea {
    font-family: 'Palatino', Times, serif;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 1.6;
}

body {
	background: #FFFFFF;
}

a {
	vertical-align: top;
    color: black;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
    text-decoration: underline;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { 
    line-height: 1.3; 
    margin: 0 0 1em; 
    font-family: 'Mazius', 'Palatino', Times, serif;
}

h1 span, .h1 span,
h2 span, .h2 span,
h3 span, .h3 span,
h4 span, .h4 span,
h5 span, .h5 span,
h6 span, .h6 span { font-family: 'Palatino', Times, serif; }

h1, .h1 { 
	margin-bottom: 0.25em;
	font-size: 3em;
    font-family: "MaziusItalic", "Mazius", "Palatino", Times, serif;
}
h2, .h2 {
    font-size: 1.5em;
}
h3, .h3 { font-size: 1.375em; }
h4, .h4 { font-size: 1.25em; }
h5, .h5 { font-size: 1.125em; }
h6, .h6 { font-size: 1em; }

address {
	font-style: italic;
	margin-bottom: 25px;
}

abbr[title] {
	border-bottom: 1px dotted #2B2B2B;
	cursor: help;
}

b,
strong {
	font-weight: 700;
}

cite,
dfn,
em {
	font-style: italic;
}

i { 
	font-style: normal; 
}

mark,
ins {
	background: #FFF9C0;
	text-decoration: none;
}

p {
	margin: 0 0 1em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 1.6;
}

pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote, 
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-style: italic;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 24px;
}

blockquote cite,
blockquote small {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 700;
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: 24px;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 24px;
}

ul,
ol {
	list-style: none;
	margin: 0 0 1.5em 1.9em;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
	margin-left: 2.5em;
}

li > ul,
li > ol {
    	margin: 0 0 0 0.75em;
}

li {
    	margin: 0 0 0.5em;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

figure {
	margin: 0;
}

iframe{ width: 100%; }

fieldset {
    border: 2px solid #000;
    margin: 0 0 24px;
    padding: 1em 1em 0.75em;
}

legend {
    white-space: normal;
    padding: 0 0.5em;
    font-size: 1.5em;
    font-weight: 700;
		background: white;
}

button,
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: initial;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	
}

button,
input {
	line-height: 1.14;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); 
	/* removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled],
textarea[disabled],
.disabled{
	cursor: default;
	background: rgb(235, 235, 228) !important;
	color: #A9A9A9 !important;
}
.disabled:hover{ color: #A9A9A9 !important; }
.disabled:hover span{ margin-right: 0 !important; }

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	cursor: pointer;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table,
th,
td {
    	border: 1px solid #e5e5e5;
    	border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
	margin: 1em 0;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px; 
}

caption,
th,
td {
	font-weight: 400;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

del {
	color: #767676;
}

hr {
	background: #e5e5e5;
	background: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin: 1.5em 0;
	
	height: 3px;
	background: #000000;
}


/**
 * 2.0 - Typefaces
 *
 * Loading typeface font files.
 *
 */

@font-face {
  font-family: "Mazius";
  src: url('MAZIUSREVIEW-Regular.otf') format('opentype');
}

@font-face {
  font-family: "MaziusItalic";
  src: url("MAZIUSREVIEW-Italic.otf") format("opentype");
}





/**
 * 3.0 - Mobile
 *
 * Using the mobile-first approach, this code styles the mobile layout.
 *
 */


button,
a.button{
    display: block;
    margin: 1em auto;
    padding: 1em;
    background: black;
    color: white;
    text-align: center;
    font-family: "Mazius", "Palatino", Times, serif;
    letter-spacing: 1.5px;
}

button:hover,
a.button:hover{
}


img,
video,
button,
a.button,
fieldset { border-radius: 4px; }



.container{
	display: table-cell;
	vertical-align: top;
}

.container2{
	width: calc(200vw - 100px);
    display: grid;
    grid-template-columns: calc(100vw - 50px) calc(100vw - 50px);


	width: calc(200vw - 100px);
    grid-template-columns: calc(100vw) fit-content(calc(100vw - 100px));
    margin-left: -50px;
}

section{ margin-left: -50px }

header,
nav,
section{ 
height: 100vh;

	-webkit-transition: width 250ms ease-in-out;
    -o-transition:      width 250ms ease-in-out;
    -moz-transition:    width 250ms ease-in-out;
    transition:         width 250ms ease-in-out;

	-webkit-transition: left 250ms ease-in-out;
    -o-transition:      left 250ms ease-in-out;
    -moz-transition:    left 250ms ease-in-out;
    transition:         left 250ms ease-in-out;
}


header{ 
	width: calc(100vw - 50px);
	z-index: 999;
}

section:empty{ width: 0; }


.section-stuff{
	background: yellow;
	width: calc(100vw - 50px);
	height: 100vh;
}









header{ 
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "head head"
        "intro social"
        "contact social";
}

#head{
	padding: 4vh;
	grid-area: head;
	margin: 0;
}
#intro{
	padding: 0 4vh;
	grid-area: intro;
}
#contact{
	padding: 4vh;
	grid-area: contact;
	align-self: end;
}
#social{
    overflow: auto;
    grid-area: social;
	padding: 0 0 4vh 0;
	position: relative;
	z-index: 999;
}
.social{ 
    margin-bottom: 4vh;
    overflow: hidden;
}
.social:last-of-type{
	margin-bottom: 0;
}
.social summary{ 
    overflow: hidden;
}
.social details img{ 
    float: right;
    width: 90%;
}
.social details p{ 
    padding-top: 1em;
    margin-left: 10%;
}



nav ul{ 
	padding: 8vh 0 0 16vh;
    overflow: auto;
    height: 100vh;
    margin: 0;

}
nav ul p{
    position: relative;
    font-family: "Mazius", "Palatino", Times, serif;
    white-space: pre;
    font-size: 25vh;
    line-height: 0.47;
    margin: 0;
}
nav ul p:nth-of-type(4n+1){ color: #D6FF00; }
nav ul p:nth-of-type(4n+2){ color: #2900FF; }
nav ul p:nth-of-type(4n+3){ color: #FF009F; }
nav ul p:nth-of-type(4n+4){ color: #00FF60; }
nav ul a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    padding: 0;
    margin: -0.14em 0 -0.12em;
    z-index: 1;
}

section{
	//width: 0;
}


section .portrait,
section .section-grid{
	-webkit-transition: width 250ms ease-in-out;
    -o-transition:      width 250ms ease-in-out;
    -moz-transition:    width 250ms ease-in-out;
    transition:         width 250ms ease-in-out;
}

section .portrait{
	float: left;
  	width: 33.333%;
  	height: 100vh;
    position: relative;
    background-image: url(carinotacotruck/DSC_6146.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


section .portrait:hover{ width: calc(60vw - 50px); }
section .portrait:hover ~ .section-grid{ width: calc(40vw); }
section .portrait:hover ~ .section-grid:before{ left: 50px; opacity: 1; }
.portrait .name {
    width: 2.5em;
    height: 100vh;
    position: absolute;
    right: 0;
}
.portrait p {
    color: white;
    mix-blend-mode: difference;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
    width: 100vh;
    text-align: center;
    font-size: 5em;
    font-family: "MaziusItalic", "Mazius", "Palatino", Times, serif;
    margin: 0 0 0 -1.5em;
}

.section-grid:before{
	content: "More";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vh;
    height: 49px;
    line-height: 49px;
    border-top: 1px solid;
    transform: rotateZ(-90deg);
    transform-origin: 0 100%;
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Mazius", "Palatino", Times, serif;
    font-size: 2vh;
    opacity: 0;
    z-index: 999;
    cursor: pointer;

    -webkit-transition: left 250ms ease-in-out, opacity 250ms ease-in-out;
    -o-transition:      left 250ms ease-in-out, opacity 250ms ease-in-out;
    -moz-transition:    left 250ms ease-in-out, opacity 250ms ease-in-out;
    transition:         left 250ms ease-in-out, opacity 250ms ease-in-out;
}
.section-grid{
  	padding: 4vh;
	overflow: hidden;
	width: 66.666%;
	height: 100vh;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "title"
        "desc"
        "video"
        "trans";
    justify-items: left;
	grid-row-gap: 4vh;
}
.section-title{
  grid-area: title;
  align-self: center;
}
.section-desc{
  grid-area: desc;
  align-self: center;
}
.section-video{
  grid-area: video;
  align-self: center;
}
.section-transcript{
  grid-area: trans;
  align-self: center;

}


.no-padding {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.no-margin {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.relative{ position: relative; }
.clear{ clear: both; }
.overlay { mix-blend-mode: overlay; }
.difference { mix-blend-mode: difference; }
.hide-overflow{ overflow: hidden; }
.v-center{
    position: absolute;
    top: 50%;
	left: 0;
    width: 100%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fade-load{
	opacity: 0;
	position: relative;
	-webkit-transition:	top 2s cubic-bezier(0.68, -0.55, 0.27, 1.55), 
											opacity 2s ease-in-out;
	-o-transition:	top 2s cubic-bezier(0.68, -0.55, 0.27, 1.55), 
									opacity 2s ease-in-out;
	-moz-transition:	top 2s cubic-bezier(0.68, -0.55, 0.27, 1.55), 
										opacity 2s ease-in-out;
	transition: top 2s cubic-bezier(0.68, -0.55, 0.27, 1.55), 
							opacity 2s ease-in-out;
}
.fade-load.up { top: 100px; }
.fade-load.down{ top: -100px; }

.fade-load.animate{
    opacity: 1;
		top: 0;
}

.hide{
    transform: scale(0) !important;
    opacity: 0 !important;
}
.show{
    transform: scale(1) !important;
    opacity: 1 !important;
}


/*

Landscape Orientation

*/

@media(min-width: 100vh){  /*If landscape, i.e. tablets, desktop */



	header{
		width: 48.725vh;
	}


	section:empty{
		width: 0;
	}















}


/**
 * 4.0 - Tablet
 *
 * Using the mobile-first approach, this code styles the tablet layout.
 *
 */

@media(min-width: 768px){ 




	.section-grid{

	    
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	    grid-template-rows: auto;
	    grid-template-areas: 
	        "title title . desc desc"
	        "video video video video ."
	        "trans trans trans . .";
	    justify-items: center;
	    grid-row-gap: 4vh;
	}






	.no-padding {
			padding-right: 0;
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 0;
	}
	.no-margin {
			margin-right: 0;
			margin-left: 0;
			margin-top: 0;
			margin-bottom: 0;
	}






}

/**
 * 5.0 - Desktop
 *
 * Using the mobile-first approach, this code styles the desktop layout.
 *
 */

/*@media(min-width: 1024px){
	



	.no-padding {
			padding-right: 0;
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 0;
	}
	.no-margin {
			margin-right: 0;
			margin-left: 0;
			margin-top: 0;
			margin-bottom: 0;
	}	

}*/

	